{% extends '../base.html' %}
{% load bootstrap3 %}

{% block HeaderPagina %}
    Página del reporte  de {{object.tipoReporte.nombreLargo}}
{% endblock %}

{% block content %}
<div class="textoBlanco">
	<p>Se ejecuto el reporte con la siguiente informacion:</p>
	<ul>
		<li>ID: {{ object.id }}</li>
		<li>Tipo Reporte: {{ object.tipoReporte.nombre }}</li>
		<li>Semana: {{ object.semana }}</li>
		<li>Año Periodo: {{ object.anoPeriodo }}</li>
		<li>Mes Periodo: {{ object.mesPeriodo.nombre }}</li>
		<li>Dia Inicia Periodo: {{ object.diaIniciaPeriodo}}</li>
		<li>Dia Fin Periodo: {{ object.diaFinPeriodo}}</li>
		<li>Fecha Ejecución: {{ object.fechaEjecucion}}</li>
		<li>Estatus: {{ object.estatus}}</li>
		<li>Nombre Archivo: {{ object.nombreArchivo}}</li>
		<li>Ruta Archivo: {{ object.rutaArchivo}}</li>
		<li>Nombre Zip: {{ object.nombreZip}}</li>
	</ul>

 	<div class="row">
		<div class="col-sm-1 text-left">
		</div>
		<div class="col-sm-2 text-center">
			<form action="{{ request.build_absolute_uri }}descargarZip/" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<button class="submitForm" type="submit">{% bootstrap_icon "star" %}Descarga Zip</button>
			</form>
		</div>
		<div class="col-sm-3 text-center">
			 {% if tipo_nombre == VentasPdf%}
				<form action="{{ request.build_absolute_uri }}descargarRepCXC/" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<button class="submitForm" type="submit">{% bootstrap_icon "star" %}Descarga Reporte CXC</button>
				</form>
			{% endif %}
		</div>
		<div class="col-sm-6 text-left">
		</div>
	</div>
</div>
{% endblock %}