{% extends '../base.html' %}
{% load bootstrap3 %}

{% block HeaderPagina %}
    Página de ejecucion de reporte de {{tipo_nombre_largo}}
{% endblock %}

{% block content %}
    <div class="row textoBlanco">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
                <form action="{{ request.build_absolute_uri }}subirArchivo/" method="post" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 text-right">
                            <input type="file" name="myfile">
                        </div>
                        <div class="col-sm-6 text-left">
                            {% if perms.reportesVC.can_run_Report %}
                                <button class="submitForm" type="submit">{% bootstrap_icon "star" %}Sube Archivo</button>
                            {% endif %}
                        </div>
                    </div>
                </form>

                {% if status != "Nuevo" and status != "Error"%}
                    <br>
                    <form action="{% url 'reportesVC:creaReporte' tipoNombre=tipo_nombre status='ejecutando'%}" method="post">
                        {% csrf_token %}
                        {% for variable in variables_ultimo_reporte %}
                            {% if variable.id != 3%}
                                <div class="row">
                                    <div class="col-sm-12 text-left">
                                        <label class="labelForm" for="{{ variable.valor }}">{{ variable.nombre }}:</label>
                                    <!--/div>
                                    <div class="col-sm-9 text-left"-->
                                        {% if variable.editable == 1%}
                                            <input class="textForm" type="text" name="{{ variable.id }}_{{variable.nombre}}" id="{{ variable.id }}" value="{{ variable.valor }}" />
                                        {% else %}
                                            <label class="labelTextForm" name="{{ variable.id }}_{{variable.nombre}}" id="{{ variable.id }}">{{ variable.valor }}</label>
                                        {% endif %}
                                    </div>
                                </div>
                                    <!--input type="text" name="{{variable.nombre}}" id="variable{{ forloop.counter }}" value="{{ variable.id }}" /-->
                            {% else %}
                                <!--label for="{{ tipo_valor }}">{{ variable.nombre }}</label-->
                                <input type="hidden" name="{{ variable.id }}_{{variable.nombre}}" id="{{ variable.id }}" value="{{ tipo_valor }}" />
                                <!--input type="text" name="{{variable.nombre}}" id="variable{{ forloop.counter }}" value="{{ variable.id }}" /-->
                                <!--br /-->
                            {% endif %}
                        {% endfor %}

                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <ul class="listaArchivos">
                            <li><input type="radio" name="CBtipoReporte" value="reporteViejo" checked="checked"> Formato Anterior
                                <span class="masDetalle" onclick="toggle_visibility('detallesViejo');">+/-</span>
                                <div class="detalles" id="detallesViejo">
                                    {% if tipo_valor == 1%}
                                        <p>Las columnas deben llevar el siguiente orden:</p>
                                        <p>[CLIENTE | NOMBRE | SERIE | FACTURA | FECHA | PASAJERO | BOLETO | RUTA | FORMA DE PAGO | TARIFA* | IVA* | TUA* | TOTAL*]</p>
                                        <p>Los * indican formato de numero.</p>
                                    {% endif %}
                                    {% if tipo_valor == 2%}
                                        <p>Las columnas deben llevar el siguiente orden:</p>
                                        <p>[CLIENTE | NOMBRE | SERIE | FACTURA | FECHA | PASAJERO | LINEA AEREA | BOLETO | RUTA |  TARIFA* | %* | COM* | IVA* | TOTAL* | CLASES | AEROLINEAS]</p>
                                        <p>Los * indican formato de numero.</p>
                                    {% endif %}
                                </div>
                            </li>
                            <li><input type="radio" name="CBtipoReporte" value="reporteNuevo"> Nuevo Formato
                                <span class="masDetalle" onclick="toggle_visibility('detallesNuevo');">+/-</span>
                                <div class="detalles" id="detallesNuevo">
                                    {% if tipo_valor == 1%}
                                        Solo existe formato Anterior, ver instrucciones de formato anterior
                                    {% endif %}
                                    {% if tipo_valor == 2%}
                                        <p>Las columnas deben llevar el siguiente orden:</p>
                                        <p>[CLIENTE | NOMBRE | BOLETO | SERIE | FACTURA | FECHA | PASAJERO | LINEA AEREA | AEROLINEAS | INTERLINEAL | PAIS ORIGEN |  CIUDAD ORIGEN | PAIS DESTINO | CIUDAD DESTINO | RUTA | CODIGO COMPARTIDO | CLASES | TARIFA BASE* | % COMISION BSP | COMISION BSP* | % COMISION | COMISION* | IVA* | TOTAL*]</p>
                                        <p>Los * indican formato de numero.</p>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                            </div>
                            <div class="col-sm-6 text-left">
                                {% if perms.reportesVC.can_run_Report%}
                                    <button class="submitForm" type="submit">{% bootstrap_icon "star" %} Ejecuta Reporte</button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                {% endif %}
      </div>
    </div>
{% endblock %}